@import "_common";

.docPage {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__body {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
  }

  &__content {
    overflow: auto;
    flex-grow: 1;
  }

  &__contentTOC {
    // TODO
  }

  &__contentTOC,
  &__docsTOC {
    overflow: auto;
    flex-grow: 0;
    flex-shrink: 1;
    width: rhythm(30);
    border-left: 1px dashed;
    @include var(border-color, secondary-text);
  }
}

.docBody {
  max-width: calc-columns-width(9);
  margin-right: auto;
  margin-left: auto;
  padding: rhythm(3) rhythm(2);
}
