:root {
  &[data-theme="light"] {
    --primary-text: #{map-get($vars, primary-text)};
    --secondary-text: #{map-get($vars, secondary-text)};
    --inline-code: #{map-get($vars, inline-code)};
    --main-bg: #{map-get($vars, main-bg)};
    --code-box-bg: #{map-get($vars, code-box-bg)};
    --code-tag-bg: #{map-get($vars, code-tag-bg)};
    --selection-bg: #{map-get($vars, selection-bg)};
  }

  &[data-theme="dark"] {
    --primary-text: #F7FFFF;
    --secondary-text: #8C9FB5;
    --inline-code: #C0D1E5;
    --main-bg: #162D43;
    --code-box-bg: #0B273E;
    --code-tag-bg: var(--main-bg);
    --selection-bg: #5A95CE;
  }

  font: #{$baseFontSize}/1 $fontSerifFamily;
  text-size-adjust: 100%;
  @include var(color, primary-text);
  @include var(background, main-bg);

  @include responsive(mobile) {
    font-size: $mobileFontSize;
  }
}

::selection {
  @include var(background, selection-bg);
}

body,
h1,
h2,
h3,
h4,
p,
blockquote {
  margin: 0;
}

strong {
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  background-color: transparent;
  @include var(-webkit-tap-highlight-color, selection-bg);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
  border: none;
  outline: none;
  background: transparent;
  appearance: none;

  &::-moz-focus-inner {
    padding: 0;
    border: 0
  }
}

img {
  border-style: none;
}

svg {
  width: 24px;
  height: auto;
  fill: currentColor;

  path {
    fill: currentColor;
  }
}

// Gradient link styles
a:hover, button:hover {
  $_color-gradient-start: map-get($vars, gradient-start);
  $_color-gradient-end: map-get($vars, gradient-end);
  color: $_color-gradient-start;
  background: linear-gradient(30deg, $_color-gradient-start, $_color-gradient-end);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
