// CSS variables
// --------------------
$vars: (
  primary-text: #202020,
  secondary-text: #4E4E4E,
  inline-code: darken(#5E6687, 3),
  main-bg: #FFF,
  code-box-bg: lighten(#F5F7FF, 1),
  code-tag-bg: darken(#F5F7FF, 1),
  selection-bg: #FFE53B,
  gradient-start: #21D4FD,
  gradient-end: #B721FF,
);


// Font family
// --------------------
$fontSerifFamily: 'Noto Serif', 'Songti SC', serif !default;
$fontMonoFamily: 'Roboto Mono', 'Songti SC', monospace !default;


// Font size
// --------------------
$baseFontSize: 16px !default;
$mobileFontSize: 14px !default;


// Modular scale
// http://www.modularscale.com/?16&px&1.067
// --------------------

$modularscaleBase: 1rem !default;
$modularscaleRatio: 1.067 !default;

$modularscale: (
  base: $modularscaleBase,
  ratio: $modularscaleRatio
);


// Rhythm
// --------------------
$rhythm: .5rem !default;


// Grids
// --------------------
$column-width: 50px;
$gutter-width: 30px;
$mobile-gutter-width: 15px;


// Images
// --------------------
$image-max-width: 900px;


// Docs Layout
// --------------------
$orderDocContent: 1 !default;
$orderContentTOC: 2 !default;
$orderDocsTOC: 3 !default;
