@import "../../styles/_common";

.sidebar {
  line-height: rhythm(3);
  padding: rhythm(3);

  li > ul {
    padding-left: 1em;
  }

  li {
    overflow: hidden;
    width: 100%;
    padding-top: rhythm(.5);
    padding-bottom: rhythm(.5);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
