@import "_common";

.sidebarTOC {
  font-size: ms(-1);
  line-height: rhythm(2);
  padding: rhythm(3) rhythm(2);
}

.tocEntry {
  display: flex;
  align-items: center;
  padding-top: rhythm(.5);
  padding-bottom: rhythm(.5);

  &.nested {
    padding-left: rhythm(2);
  }

  &__icon {
    width: rhythm(2);
    margin-right: rhythm(.25);
    vertical-align: rhythm(-.25);
  }

  &__body {
    overflow: hidden;
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.active &__icon {
    transform: rotate(180deg);
    color: map-get($vars, gradient-start);
  }
}
