@import "_common";

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pageMain {
  overflow: auto;
  flex-grow: 1;
}

.pageBody {
  max-width: calc-columns-width(9);
  margin-right: auto;
  margin-left: auto;
  padding: rhythm(3) rhythm(2);
}
